/* Home section */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background-color: #d5d5d5;
}
h1, h3{
    color: white;
}

/* SECAO FULLBANNER */

.titulo-pagina{
    font-size: 62px;
    margin: 0;
}

.fullbanner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.450)), url(../img/fullbanner.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textos-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-social:hover{

    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.social-icon{
    margin: 15px;
    width: auto;
}

/* SECAO SOBRE MIM */

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}

.titulo-sobre{
    border-bottom: 3px solid;
    font-weight: bold;
    font-size: 20px;

}

.elementos-sobre{
    display: flex;
    align-items: center;
}
.textos-sobre{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 10%   ;
    text-align: left;
    line-height: 30px;
    
}

.link-sicredi{
    color: #2aa431;
    font-weight: bold;
    font-size: 19px;
}

.div-foto-felipe{
    width: 50%;
    display: flex;
    justify-content: center;
}

.foto-felipe{
    width: 250px;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 130px;
    box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);
    -webkit-box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);

}

/* SECAO FORMACAO */

.formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.titulo-secao-formacao{
    border-bottom: 3px solid;
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 20px;
}

.container-formacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.info-formacoes{
    margin-top: 20px;
    width: 80%;
}

.titulo-formacao{
    color: black;
    font-size: 16px;
}
.hr-custom{
    width: 20%;
}

/* secao contato */

.contato{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgb(96 96 96 / 65%), rgb(163 163 163 / 22%)), url(../img/contact-bg.jpg);
    background-position: center top;
	background-size:cover;
    padding: 58px 0 54px 0;

}

.container-elementos-contato{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;}

.titulo-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-bottom: 3px solid;
    margin-bottom: 50px;
    font-size: 20px;
    
}

.container-form{
    width: 65%;
}

.input-campos-1{
    display: flex;
    justify-content: space-between;
}

.input-campos-2{
    width: 100%;
    display: flex;
    align-items: center;
}

.input-1{
    line-height: 1.5;
    color: #bebebe;
    background-color: #eaeaea;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(171 176 185);
    background-color: rgb(120 120 120 / 78%);
    background-image: none;
}
.input-1::placeholder {
    color: white;
}

.input-2{
    width: 100%;
    line-height: 1.5;
    color: #cacaca;
    background-color: #eaeaea;
    border: 1px solid #ced4da;
    border-bottom: 4px solid rgb(171 176 185);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(120 120 120 / 78%);
    background-image: none;
}


.input-2::placeholder {
    color: white;
}

/* secao footer */

.footer{
    display: flex;
    justify-content: center;
}

.nome-footer{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* Mobile */

@media only screen and (max-width: 610px) {
    .elementos-sobre{
        flex-direction: column;
    }
    .textos-sobre{
        text-align: center;
        padding: 0;
        width: 80%;
    }

    .container-formacoes{
        width: 90%;
    }
    .container-form{
        width: 90%;
    }

    .input-campos-1{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .input-1{
        width: 100%;
    }
}

