/* Home section */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background-color: #d5d5d5;
}
h1, h3{
    color: white;
}

/* SECAO FULLBANNER */

.titulo-pagina{
    font-size: 62px;
    margin: 0;
}

.fullbanner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.450)), url(../img/fullbanner.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textos-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    margin: 15px;
    width: auto;
}

/* SECAO SOBRE MIM */

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}

.titulo-sobre{
    border-bottom: 3px solid;
    font-weight: bold;
}

.elementos-sobre{
    display: flex;
    align-items: center;
}
.textos-sobre{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 10%   ;
    text-align: left;
}

.div-foto-felipe{
    width: 50%;
    display: flex;
    justify-content: center;
}

.foto-felipe{
    width: 250px;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 130px;
    box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);
    -webkit-box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 16px 17px 50px 0px rgba(0,0,0,0.82);

}

/* SECAO FORMACAO */

.formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.titulo-secao-formacao{
    border-bottom: 3px solid;
    font-weight: bold;
    margin-bottom: 5%;
}

.container-formacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.info-formacoes{
    margin-top: 20px;
}

.titulo-formacao{
    color: black;
}
.hr-custom{
    width: 20%;
}